img {
    max-width: 164px;
    height: auto;
    padding-right: 40 px;
}

.logo {
    padding-right: 40px;
}

.separador {
    height: 1em;
    background-color: #AA983F;
}

@media only screen and (max-width: 603px) {
    img {
        max-width: 8em;
        height: auto;
        padding-right: 5px;
    }
}