.title {
    padding-top: 1em;
    font-family: "Ubuntu";
}

.section {
    padding-top: 1em;
}

.section .title-text {
    font-weight: bold;
}

.subsection .title-text {
    font-weight: 100;
}

.header-link {
    font-weight: 200;
}

.card-title {
    background-color: #E5E4E4;
}